@import url('array.css');
@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-RegularItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-RegularItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-RegularItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "skate-blade";
  src: url("../public/fonts/skate-blade/Skateblade-RegularItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


